*.html
*.bed
*.eps
*.pyc
data/vcf/bxd*
data/vcf/mgp*
data/Rqtl_sim/
data/sig_profiler_results/
data/mutations/
data/ref/
.snakemake/
.pytest_cache/
__pycache__/
csv/
figs/
site/
tests/__pycache__
scripts/__pycache__
.vscode/